+popup-template(1, 'menu-hamburger')
	.menu-mobile-bg-container
		.menu-mobile-bg
	.main-full
		.popup-nav-container
			.popup-nav
				nav
					ul.ln
							li 
								a(href="#") О нас
							li 
								a(href="#") Услуги
							li 
								a(href="#") Решения
							li 
								a(href="#") Проекты
							li 
								a(href="#") Партнеры
							li 
								a(href="#") Новости
							li 
								a(href="#") Контакты
			.popup-nav-info
				ul.ln
					li Москва, Очаковское шоссе, 34, бизнес-центр West Park
					li 
						a(href="#") +7 (495) 120-111-5
					li
						a(href="#") info@astronis.ru