+popup-template(1, 'menu-hamburger')
	.menu-mobile-bg-container
		.menu-mobile-bg
	.main-full
		.popup-nav-container
			.popup-nav
				nav
					ul.ln
							li 
								a(href="#") О нас
							li 
								a(href="#") Услуги
							li 
								a(href="#") Решения
							li 
								a(href="#") Проекты
							li 
								a(href="#") Партнеры
							li 
								a(href="#") Новости
							li 
								a(href="#") Контакты
