doctype html
html
	// head start
	include head.pug 
	// head end
	include ../components/connect-mixins.pug  
	body 
		// popup end 
		//- include ../blocks/popup/backcall.pug  
		//- include ../blocks/popup/menu.pug  
		// popup end 