include ../../default/build-header
	include ../../blocks/popups
	include ../../blocks/header
	.stub
	.content
		.main-full
			h1 Новости
		.main-grid
			.col-10
				.content-text В жизни нашей компании периодически происходят события, важные для понимания нашего текущего состояния как компании, вектора и ритма нашего развития, так и возможностей для продуктивной работы с нашими заказчиками и партнерами.
		.main-full 
			.sorting-container
				label Сортировка:
				+inputSelect('Выбрать селект',['по убыванию даты','по возрастанию даты'])
		.main-grid 
			-for(var x = 0; x < 7; x++)
				.col-6
					+newsItem("Добавьте пленительного шарма вашему празднику","Профессиональный танец живота неизменно удивляет, очаровывает и погружает в атмосферу восточной сказки. Отныне и у наших гостей появилась…","10.10.2023")
		+pagination()

	.stub 
	include ../../blocks/footer