include ../../default/build-header
	include ../../blocks/header
	.stub
	//- +roofContent("Lorem impusm")
	.main-full
		+breadcrumbs('Link')
		h1 Site is started
	include ../detail/roof.pug
	
	.main-grid.news-main
		.col-6
			.news-main-img
				img(src="/images/temp/1.jpg",  alt="")
		.col-6
			.detail-date
				i.date-ico
				span 10/10/2024
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam molestias sunt similique eveniet! Quos eius doloremque mollitia, id magnam error obcaecati iste sequi commodi enim rem illo. Modi, possimus itaque!


	.stub
	include ../../blocks/footer