footer
	.main-grid
		.col-2.hidden-xs
		.col-10.col-xs-12.logo-container
			a.logo(href="./index.html")
				img(src="/images/logo.svg", alt="")
		.col-2.hidden-xs
		.col-3.col-xs-5
			.nav
				ul
					each val in ["Услуги","Партнеры","Проекты","Новости"]
						li  
							a(href="#") 
								= val
		.col-3.col-xs-7
			.nav
				ul
					each val in ["О компании","Краткая справка компании","Карточка организации","Лицензии"]
						li  
							a(href="#") 
								= val
		

		.col-4.col-xs-12.feedback
			.feedback-footer-item
				a.marker-btn(href="#") 
					span Москва, Очаковское шоссе, 34, бизнес-центр West Park
			.feedback-footer-item
				a.mail-btn(href="#")
					i
					span info@astronis.ru
			.feedback-footer-item
				a.phone-btn(href="#") 
					i
					span +7 (495) 120-111-5
		.col-2.hidden-xs
		.col-10
			ul.footer-links
				li
					a(href="#") Условия обработки персональных данных и политика конфиденциальности
				li
					a(href="#") Разработка сайта Style You
				li
					| © Astronis, 2023