//- include preload.pug
header
	.main-grid
		.col-6.logo-container.vertical-align
			a.logo(href="#") 
				img(src="/images/logo.svg", alt="")
			

		.col-6.vertical-align
			//- .hamburger-btn
			.hamburger
				.h-line-box
					.h-line.h-line-1
					.h-line.h-line-2
					.h-line.h-line-3
					.h-line.h-line-4
					.h-line.h-line-5
					.h-line.h-line-6