include ../default/build-header
	include ../blocks/popups
	include ../blocks/header
	.stub
	.animate-treagle-box
		.animate-treagle-shadow
		.animate-treagle
	.content
		.main-full
			h1 О нас 
		.main-content 
			.main-grid
				.col-7 
					.about-content
						p ООО «АСТРОНИС» - Российский системный интегратор. Осуществляет полный комплекс услуг по разработке, внедрению и сопровождению современных решений для создания информационной инфраструктуры организаций любого масштаба.
						p Компания создана в 2015 г. высококвалифицированными специалистами, имеющими многолетний опыт работы в ведущих российских и зарубежных компаниях. В настоящее время численность компании около 100 человек, большинство сотрудников прошли обучение в зарубежных учебных центрах компаний-производителей и имеют международные сертификаты.
						p Сфера деятельности компании охватывает широкий спектр различных продуктов и услуг от поставки отдельных видов оборудования и программного обеспечения до проектирования, интеграции и дальнейшего развития комплексных систем, включающих в себя передовые информационные технологии, инженерные сети и программные разработки.
						p Компания сотрудничает с ведущими мировыми производителями оборудования и программного обеспечения, такими как IBM, HP, Cisco Systems, Avaya Communications, Huawei, Polycom, GE, Schneider Electric и другими. Развивается направление на импортозамещение отечественными технологиями и разработками.
						p ООО «АСТРОНИС» имеет собственный центр технической поддержки, работающий в круглосуточном режиме и оказывающий услуги по сервисному обслуживанию оборудования и сопровождению программного обеспечения.
						p ООО «АСТРОНИС» стремится к развитию долгосрочных партнерских отношений со своими заказчиками, предлагая им инновационные высокоэффективные ИТ технологии, способствующие росту производительности труда, повышению эффективности бизнеса, получению конкурентного преимущества и в, конечном итоге, успеху заказчиков.
				.col-1 
				.col-4
					.about-btn-item
						a.btn.btn-download(href="#") 
							span Лицензия ФСБ России
							i
						.about-btn-item-text на осуществление разработки, производства, распространения шифровальных (криптографических) средств, регистрационный номер №16518 Н от 27 марта 2018 г.
					.about-btn-item
						a.btn.btn-download(href="#") 
							span Лицензия ФСТЭК России
							i
						.about-btn-item-text на деятельность по технической защите конфиденциальной информации № 3513 от 23 августа 2018 г.
					.about-btn-item
						a.btn.btn-download(href="#") 
							span Лицензия Министерства Культуры РФ
							i
						.about-btn-item-text на деятельность по сохранению объектов культурного наследия (памятников истории и культуры) народов Российской Федерации. № МКРФ 20122 от 16 марта2020 г.
					.about-btn-item
						a.btn.btn-download(href="#") 
							span Сертификат
							i
						.about-btn-item-text системы менеджмента качества на соответствие стандарту ИСО-9001.
					.about-btn-item
						a.btn.btn-download(href="#") 
							span Свидетельство
							i
						.about-btn-item-text саморегулируемой организации (СРО) о допуске к выполнению проектных работ, которые оказывают влияние на безопасность объектов капитального строительства.
					.about-btn-item
						a.btn.btn-download(href="#") 
							span Реквизиты организации
							i
						.about-btn-item-text саморегулируемой организации (СРО) о допуске к выполнению проектных работ, которые оказывают влияние на безопасность объектов капитального строительства.
		include detail/faq

	.stub 
	include ../blocks/footer 