include ../default/build-header
	include ../blocks/popups
	include ../blocks/header
	.stub
	.content
		.main-full
			h1 Контакты
		.content
			.main-grid.contacts-section
				.col-6
					.map-container
						include ../blocks/map.pug
					.contacts-hint 
						ul.ln
							li Москва, Очаковское шоссе, 34, бизнес-центр West Park
							li 
								a.phone-btn(href="#") 
									i 
									span +7 (495) 120-111-5
							li
								a.mail-btn(href="#")
									i 
									span info@astronis.ru
				.col-6
					h2 Как до нас добраться
					.contacts-item
						h3 На общественном транспорте
						p От станции метро Кунцевская. Выход к остановке Автобуса №11. Доехать до остановки Очаковское ш. 16. Далее пройти пешком 10 минут по Очаковскому шоссе.
						p От платформы Очаково. Выход к проезду Стройкомбината, далее пешком 15 мин. по Вокзальной улице.
					.contacts-item
						h3 На машине
						p К бизнес-центру ведут удобные подъездные пути с Мичуринского проспекта, Аминьевского шоссе и МКАД.На территории БЦ есть парковка.
						p После въезда на территорию БЦ двигайтесь прямо справа будет вход здание.
		
			include detail/faq

	.stub 
	include ../blocks/footer 