include ../default/build-header
	include ../blocks/header
	include home/main.pug
	include home/about.pug
	include home/service.pug
	include home/solutions.pug
	include home/partners.pug
	include home/projects.pug
	include home/news.pug


	.stub
	include ../blocks/footer