.faq-container
  .main-full
    .faq-button
      i
      .faq-button-inner
        .faq-button-title Задать вопрос
        .faq-button-text Мы проконсультируем вас по всем интересущим вопросам.
    .faq-button
      i
      .faq-button-inner
        .faq-button-title Заказать услугу
        .faq-button-text Свяжитесь с нашим менеджером для оформления услуги.