.main-content
  position: relative
  margin-bottom: 120px
  p
    margin-top: 0
    margin-bottom: 30px
.content-text
  font-size: 28px
  color: $blueColor
  margin: 0 0 30px
.content-text-2
  font-size: 20px
