include ../default/build-header
	.main-full
		| header
	.main-full 
		h1 Popup
	+popup-template(1,'menu-hamburger show') 
		nav.popup-nav
			ul.ln
					li
						a(href="#") Главная
					li
						a(href="#") Услуги
					li
						a(href="#") О компании
					li
						a(href="#") Контакты
		.info-nav
			| Москва, Очаковское шоссе, 34, бизнес-центр West Park +7 (495) 120-111-5, info@astronis.ru
