section.about-section 
  .main-grid 
    .col-2 
    .col-6
      .about-text
        | Astronis — Российская компания, созданная профессионалами в сфере информационных технологий, имеющими многолетний опыт работы в ведущих российских и зарубежных компаниях. Специалисты компании непосредственно участвовали в реализации крупных ИТ-проектов
        | на рынке России в различных областях: финансовой, нефтегазовой, добывающей, машиностроительной, энергетической, сетевой розничной торговли и многих других, способствуя успеху наших заказчиков, развивая отношения на долгосрочной основе, опираясь на профессионализм и опыт нашей команды. 
      .btn-container  
        a(href="#").more-btn
          span Узнать больше
          i
  .about-img
    .img-cover
      img(src="/images/about.png", alt="")