.main-home
	.main-home-img.img-cover
		img(src="/images/main-home.jpg", alt="")
	.main-home-img.main-home-img-2.img-cover
		img(src="/images/main-home-2.jpg", alt="")
	.main-home-img.main-home-img-3.img-cover
		img(src="/images/main-home-3.jpg", alt="")
	.main-home-bg
	.line-planet
	.main-grid 
		.col-8.col-offset-4.col-xs-12.col-offset-xs-1
			.main-home-content
				.main-home-info
					h2 we are
					h1 New Systems
				.main-home-bottom
					.main-home-text
						| Мы стремимся изменить мир к лучшему,
						| внедряя инновационные решения в сфере
						| информационных технологий и телекоммуникаций.
						div 
							.scroll-home


