.main-home
	.main-home-img.img-cover
		img(src="/images/main-home.jpg", alt="")
	.main-grid 
		.col-4 
		.col-8
			.main-home-content
				.main-home-info
					h2 we are
					h1 New Systems
				.main-home-bottom
					.main-home-text
						| Мы стремимся изменить мир к лучшему,
						| внедряя инновационные решения в сфере
						| информационных технологий и телекоммуникаций.
						div 
							.scroll-home
					.main-home-address. 
						Москва, Очаковское шоссе, 34,
						бизнес-центр West Park
						+7 (495) 120-111-5, info@astronis.ru

