section.news
	.main-grid
		.col-2.col-xs-12
			.section-topic
				span Новости
				i
		.col-8.col-xs-12
			.head-section
				| В жизни нашей компании периодически происходят события, важные для
				|	понимания нашего текущего состояния как компании, вектора и ритма нашего развития, так и возможностей для продуктивной работы с нашими заказчиками
				|	и партнерами.
	.main-grid 
		.col-10.col-xs-12.col-offset-3.col-offset-xs-1
			.stub-slider
				.multy-slider
					-for(var x = 0; x < 7; x++)
						+newsItem("Добавьте пленительного шарма вашему празднику","Профессиональный танец живота неизменно удивляет, очаровывает и погружает в атмосферу восточной сказки. Отныне и у наших гостей появилась…","10.10.2023")
		.col-12 
			.btn-section-container 
				a(href="#").more-btn
					span На страницу новостей
					i