section.partners
  .main-grid 
    .col-2
    .col-10 
      .partners-about
        |В арсенале компании имеются технические средства и знания для разработки, внедрения и сопровождения решений в области информационных и телекоммуникационных технологий, отвечающих задачам роста и повышения эффективности современного бизнеса.
  .main-full
    .partners-slider
      -for (var i=1; i < 12; i++)
        .partners-item 
          img(src="/images/temp/partners/1.jpg", alt="")