section.projects-section.animate-section(data-topic="Проекты")
	.main-grid 
		.col-2.col-xs-12 
			.section-topic 
				span Проекты
				i 
		.col-10.col-xs-12
			.head-section
				|Мы постоянно расширяем свое участие в проектах наших заказчиков для того, чтобы помочь наполнить их эффективными ИТ инструментами для решения бизнес-задач клиента с учетом отраслевой специфики.
	
	.projects-slider
		-for(var x = 0; x < 2; x++)
			.projects-item
				.projects-item-img.img-cover 
						img(src="/images/temp/2.jpg", alt="")
				.projects-item-gradient
				.main-grid
					.col-6.col-xs-12.col-offset-3.col-offset-xs-1
						img(src="/images/temp/partners/5.svg", alt="")
						h3  Двухстрочное название длинного проекта
						.projects-item-text Наша компания основывает свои решения по созданию катастрофоустойчивой ИТ-инфраструктуре, ЦОД в частности, на основе результатов предварительного прогнозного анализа рисков и их влияния на бизнес заказчика. 
						.btn.btn--blue-border Подробнее
					.col-4.projects-item-last.hidden-xs
						a.more-btn(href="#") 
							span Следующий проект
							i