section.service-section.animate-section(data-topic="Услуги")
	.main-grid
		.col-2.col-xs-12 
			.section-topic 
				span Услуги
				i 
		.col-10.col-xs-12
			.head-section
				|Деятельность компании охватывает выполнение как отдельных работ
				|на всех стадиях жизненного цикла, так и полного комплекса работ по созданию
				|и поддержке ИТ‑систем. Наша компания обладает необходимыми знаниями
				|и опытом применения широкого спектра как современных, так и давно эксплуатируемых Заказчиками информационных и телекоммуникационных технологий, используемых при создании и модернизации различных ИТ-систем
				|и сред, телекоммуникационных сетей.
	.main-grid
		.col-8.col-xxl-7.col-offset-3.col-offset-xs-1.col-xs-12
			.service-slider
				.service-item
					.service-item-inner
						h3  Консалтинг, экспертиза и проектирование ИТ-систем и инфраструктуры. Реализация пилотных проектов.
						.service-item-text Опыт специалистов компании позволяет разработать не только архитектуру будущей системы или ее части, но и предоставить проектную документацию в соответствии с существующими требованиями и стандартами, а также подготовить различные материалы, обзоры решений и технологий, отчеты о проведенных работах и испытаниях. Одним из направлений консалтинговой деятельности компании является экспертиза, позволяющая проводить анализ потребностей деятельности заказчиков в составе ресурсов и уровне надежности ИТ‑инфраструктуры и предоставляющая возможность подготовки таких документов, как экспертные заключения, технико-экономические обоснования и концепции.
					.service-slider-img
				.service-item 
					.service-item-inner
						h3  Консалтинг, экспертиза и проектирование ИТ-систем и инфраструктуры. Реализация пилотных проектов.
						.service-item-text Опыт специалистов компании позволяет разработать не только архитектуру будущей системы или ее части, но и предоставить проектную документацию в соответствии с существующими требованиями и стандартами, а также подготовить различные материалы, обзоры решений и технологий, отчеты о проведенных работах и испытаниях. Одним из направлений консалтинговой деятельности компании является экспертиза, позволяющая проводить анализ потребностей деятельности заказчиков в составе ресурсов и уровне надежности ИТ‑инфраструктуры и предоставляющая возможность подготовки таких документов, как экспертные заключения, технико-экономические обоснования и концепции.
					.service-slider-img
				.service-item
					.service-item-inner
						h3  Консалтинг, экспертиза и проектирование ИТ-систем и инфраструктуры. Реализация пилотных проектов.
						.service-item-text Опыт специалистов компании позволяет разработать не только архитектуру будущей системы или ее части, но и предоставить проектную документацию в соответствии с существующими требованиями и стандартами, а также подготовить различные материалы, обзоры решений и технологий, отчеты о проведенных работах и испытаниях. Одним из направлений консалтинговой деятельности компании является экспертиза, позволяющая проводить анализ потребностей деятельности заказчиков в составе ресурсов и уровне надежности ИТ‑инфраструктуры и предоставляющая возможность подготовки таких документов, как экспертные заключения, технико-экономические обоснования и концепции.
					.service-slider-img
	
