.projects-line

  position: relative
  overflow: hidden
  margin-bottom: 30px
  border-radius: 0 50px 0 50px
  overflow: hidden
  gap: 0
  padding: 0
  h3
    font-size: 32px
    line-height: 1.2
    color: $whiteColor
    margin: 15px 0

.projects-img-container
  position: relative
  height: 100%

.projects-line-content
  padding: 30px
  height: 400px
  position: relative
  display: flex
  background: linear-gradient(139deg, #37AAE1 15.61%, #0083C2 86.9%)
  img
    max-width: 400px
.projects-line-inner
  margin: auto 0
