
.projects-slider-item
  position: relative
.projects-description-item
  margin-bottom: 30px
.projects-description-item--color
  color: $blueColor
.projects-info
  text-align: right
  img
    width: 100%
.projects-info-img
  margin-bottom: 45px

.projects-info-city
  margin-bottom: 30px
.projects-slider-detail
  height: 700px
  position: relative
  .projects-slider-item ,
  .main-grid,
  .projects-slider-col
    height: 100%
.projects-slider-info
  position: absolute
  bottom: 0
  padding: 30px
  background: rgba(55, 170, 225, 0.30)
  padding: 30px
  border-radius: 50px 0 50px 0
  font-size: 36px
.projects-slider-col
  position: relative
