include ../../default/build-header
	include ../../blocks/popups
	include ../../blocks/header
	.stub
	.content
		.main-full
			h1 Компетенции
		.main-grid
			.col-10
				.content-text Компания Астронис обладает необходимыми знаниями и опытом применения широкого спектра как современных, так и давно эксплуатируемых Заказчиками информационных и телекоммуникационных технологий, используемых при создании и модернизации различных ИТ-систем и сред, телекоммуникационных сетей. В сферу компетенции компании Астронис входит целый ряд технологических направлений:
		.main-grid 
			-for(var x = 0; x < 7; x++)
				.col-6
					+servicesItem('Телекоммуникационные системы',  '/images/temp/1.jpg')
		+pagination()

	.stub 
	include ../../blocks/footer