.menu-hamburger
	.popup-container
		background-color: $whiteColor
		width: 50%
		height: 100%
		max-width: 460px
		margin: 0
		margin-left: auto
		color: $blackColor
		display: flex
		flex-direction: column
		// border-radius: 0px
		padding: 45px 15px 60px 30px
		overflow-y: auto
	.social
		margin-bottom: 30px
.popup-nav
	margin-bottom: 45px
	li
		// margin-bottom: 15px
		border-bottom: 1px solid $grayColorSecond
	a
		font-size: $largeSize
		color: $blueColor
		text-decoration: none
		padding: 15px 0
		&:hover
			color: $goldColor
.feedback-nav
	margin: 30px 0
	li
		margin-bottom: 8px
