mixin servicesItem(name, img)
	.competencies-item
		a(href="#").competencies-item-img
			.competencies-item-gradient
			.img-cover
				img(src=img, alt="")
			.competencies-item-info
				h3
					= name
				.competencies-item-text Для по-настоящему безмятежного отдыха на мы возьмем на себя организацию питания и обслуживания на борту. Предлагаем вашему вниманию Life station BBQ menu
				.btn-container-adv
					.btn-adv-more
			.btn-item-plus
				.btn-item-plus-content
					span +
			.competencies-item-stub 