include ../../default/build-header
	include ../../blocks/popups
	include ../../blocks/header
	.stub
	.content
		.main-full
			h1 Проекты
		.main-content 
			.main-grid
				.col-10
					.content-text Мы постоянно расширяем свое участие в проектах наших заказчиков для того, чтобы помочь наполнить их эффективными ИТ инструментами для решения бизнес-задач клиента с учетом отраслевой специфики.
	
			.main-grid.projects-line
				.col-6
					.projects-line-content 
						.projects-line-inner
							img(src="/images/temp/partners/5.svg", alt="")
							h3 Катастрофоустойчивые центры обработки и хранения данных
							a.btn.btn--white-border(href="#") Подробнее
				.col-6
					.projects-img-container
						.projects-img.img-cover
								img(src="/images/temp/solution/1.jpg", alt="")
			.main-grid.projects-line
				.col-6
					.projects-line-content 
						.projects-line-inner
							img(src="/images/temp/partners/5.svg", alt="")
							h3 Катастрофоустойчивые центры обработки и хранения данных
							a.btn.btn--white-border(href="#") Подробнее
				.col-6
					.projects-img-container
						.projects-img.img-cover
								img(src="/images/temp/solution/1.jpg", alt="")
			.main-grid.projects-line
				.col-6
					.projects-line-content 
						.projects-line-inner
							img(src="/images/temp/partners/5.svg", alt="")
							h3 Катастрофоустойчивые центры обработки и хранения данных
							a.btn.btn--white-border(href="#") Подробнее
				.col-6
					.projects-img-container
						.projects-img.img-cover
								img(src="/images/temp/solution/1.jpg", alt="")


	.stub 
	include ../../blocks/footer 