.news
  .btn-section-container
    // position: relative
    // z-index: 3
    margin-top: -52px
    text-align: right
  .more-btn
    position: relative
    z-index: 3
.news-slider-container
  overflow: visible
  padding-bottom: 56px
  .lSSlideOuter
    overflow: visible
  .lSSlideWrapper
    width: 80%
    overflow: visible
  .lslide
    transition: ease-out 0.5s
    transform: translateX(0)
    position: relative
    z-index: 1
  .lSAction
    width: 120%
    left: -80px
.stub-slider
  width: 75vw
  position: relative
  overflow: hidden
  // height: 400px
  // background: red
  .news-slider-container
    max-width: 1020px
