.service-section
  position: relative
  overflow: hidden

.service-slider-light
  padding-bottom: 60px
  overflow: visible
  z-index: 2
  .lSSlideWrapper
    overflow: visible
.service-slider-img
  position: absolute
  left: 70%
  right: 0
  // height: 100%
  top: 300px
  bottom: 0
  // height: 720px
  @include bgImageEl("/images/service.svg")
.service-slider
  // height: 610px
  position: relative
.service-item
  background: linear-gradient(135deg, #37AAE1 18.64%, #0083C2 77.14%)
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25)
  padding: 30px
  border-radius: 0 50px 0 50px
  transition: ease-out 0.5s
  opacity: 0
  &.active
    opacity: 1
  h3
    color: inherit
    margin-bottom: 15px

@media (max-width: 576px)
  .service-item
    padding: 15px
    font-size: 14px
    h3
      font-size: 16px
