include ../../default/build-header
	include ../../blocks/popups
	include ../../blocks/header
	.stub
	.content
		.main-full
			h1 Решения
		.main-content 
			.main-grid
				.col-10
					.content-text Консалтинг, экспертиза и проектирование ИТ-систем и инфраструктуры. Реализация пилотных проектов.
		
		.main-full
			.solutions-line
				.solutions-line-img-container
					.solutions-line-img.img-cover
							img(src="/images/temp/solution/1.jpg", alt="")
					.solutions-line-gradient
				.solutions-line-contet 
					h3 Катастрофоустойчивые центры обработки и хранения данных
					a.btn.btn--blue-border(href="#") Подробнее
			.solutions-line
				.solutions-line-img-container
					.solutions-line-img.img-cover
							img(src="/images/temp/solution/2.jpg", alt="")
					.solutions-line-gradient
				.solutions-line-contet 
					h3 Катастрофоустойчивые центры обработки и хранения данных
					a.btn.btn--blue-border(href="#") Подробнее
			.solutions-line
				.solutions-line-img-container
					.solutions-line-img.img-cover
							img(src="/images/temp/solution/3.jpg", alt="")
					.solutions-line-gradient
				.solutions-line-contet 
					h3 Катастрофоустойчивые центры обработки и хранения данных
					a.btn.btn--blue-border(href="#") Подробнее

	.stub 
	include ../../blocks/footer 