include ../../default/build-header
	include ../../blocks/popups
	include ../../blocks/header
	.stub
	.content
		.main-full
			h1 Катастрофоустойчивые центры обработки и хранения данных
		.main-content 
			.main-full
				p 	Наша компания основывает свои решения по созданию катастрофоустойчивой ИТ-инфраструктуре, ЦОД в частности, на основе результатов предварительного прогнозного анализа рисков и их влияния на бизнес заказчика.
				p В комплекс предлагаемых решений входят решения по: взаимодействию нескольких резервированных ЦОД с кластерной конфигурацией серверов, SAN и СХД; по технологиям и организации получения непротиворечивых копий данных (синхронная репликация, асинхронная репликация, параллельная работа с данными на площадках); уровням передачи данных между ЦОД (уровни СХД или SAN с использованием специального ПО и аппаратных средств, либо гипервизора, либо специальных приложений и операционной системы); организации резервируемой связи между ЦОД на базе IP/Ethernet, MPLS/VPLS, FCIP, DWDM), виртуализации как механизму резервного копирования/восстановления (копирование виртуальных машин); использованию облака с сервисом IaaS (инфраструктура по требованию), либо вообще DRaaS (резервный ЦОД как услуга) и решения по многим другим аспектам построения катастрофоустойчивой инфраструктуры.
				
		.solutions-img-slider.solution-slider
			.solutions-img-item 
				.solutions-img-bg
				img(src="/images/temp/solution/1.jpg", alt="")
			.solutions-img-item 
				.solutions-img-bg
				img(src="/images/temp/solution/2.jpg", alt="")
			.solutions-img-item 
				.solutions-img-bg
				img(src="/images/temp/solution/3.jpg", alt="")

	.stub 
	include ../../blocks/footer 