
.main-content-img
  position: absolute
  left: 70%
  top: 0
  right: 0
  height: 100%
  border-radius: 50px 0 50px 0
  overflow: hidden
.services-line
  position: relative
  margin-bottom: 45px
.services-line-content
  // position: relative
  padding: 45px 60px 45px 90px
  margin-left: -90px
  background: linear-gradient(135deg, #37AAE1 18.64%, #0083C2 77.14%)
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25)
  h3
    color: inherit
    margin-bottom: 30px
.services-line-container
  position: relative
  height: 100%

.services-line-img
  position: absolute
  width: 100%
  left: 0
  top: 50px
  bottom: 50px
  border-radius: 0 50px 0 50px
  overflow: hidden
.services-line-right
  .services-line-content
    background: none
    h3
      color: $blueColor
