
$gridCount: 12
$indent: 15px
$maxWidth: 1280px
$gap: 30px

.main-grid
	display: grid
	grid-template-columns: repeat($gridCount, 1fr)
	gap: $gap
	padding: 0 $indent
	max-width: $maxWidth
	margin: 0 auto
	position: relative

.main-full
	padding: 0 $indent
	max-width: $maxWidth
	margin: 0 auto
	position: relative
	z-index: 3
section
	padding: 75px 0 0px
	position: relative
	overflow: hidden

.stub-section
	height: 90px

.head-section
	margin-bottom: 30px
	font-size: 18px
	color: $blueColor
	font-weight: 400
	background: #83D7FF
	background: $gradientMain
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	position: relative
	z-index: 2
	// font-weight: 500

.section-topic
	margin-top: -30px
	position: relative
	z-index: 4
	line-height: 1
	font-size: 30px
	i
		display: inline-block
		width: 100px
		height: 2px
		background-color: $blueColor
	span
		display: block
		color: $blueColor
	a
		text-decoration: none
.btn-container-section
	padding: 40px 0 0px
	text-align: center
	.btn
		width: 260px

.breadcrumbs
	font-size: $smallSize
	padding: 8px 8px
	color: $whiteColor
	position: relative
	z-index: 2
	// background-color: $whiteColor

	// border-bottom: 1px solid $whiteColorSecond
	em
		font-size: 0
		@include icoEl(20px, 20px, "../images/arrows/carret-right-white.svg", middle, 130%)
		vertical-align: middle
	a
		text-decoration: none
		color: $blueColor
		vertical-align: middle
		&:hover
			text-decoration: underline
	span
		vertical-align: middle
		margin: 0 5px
		&:first-child
			margin-left: 0

.content
	position: relative
	min-height: calc(100vh - 130px)
	z-index: 2
	h1
		padding: 10px 0 30px
		color: $blueColor
		background: $gradientMain
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
.main-content
	position: relative
	z-index: 2
.section-stub
	height: 75px
@media (max-width: 576px)
	.head-section
		font-size: 14px
	.content h1
		font-size: 24px
@media (max-width: 320px)
	.main-grid
		gap: 0
